@import "bootstrap-icons";
@import "@fontsource/roboto/100.css";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /*background: linear-gradient(135deg,black,#737373);*/
    @apply bg-neutral-900;
    font-family: Roboto, sans-serif;
    scrollbar-width: none;
    min-height: 100dvh;
}

.font-Roboto {
    font-family: Roboto, sans-serif;
}

@font-face {
    font-family: 'Zhi Mang Xing';
    src: url("@/assets/ZhiMangXing-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooljazz';
    src: url("@/assets/Cooljazz.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amsterdam';
    src: url("@/assets/Amsterdam.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.no-scrollbar {
    scrollbar-width: none;
}


/*for code mirror styling*/
.code-display .cm-editor {
    background-color: transparent !important;
}

.code-display .cm-focused {
    outline: none !important;
}

.code-display .cm-gutters {
    background-color: #262626 !important;
    border: none !important;
}

.code-display .cm-activeLineGutter {
    background-color: transparent !important;
}

.code-display .cm-activeLine {
    background-color: transparent !important;
}

.code-display .cm-scroller {
    scrollbar-width: thin;
    scrollbar-color: #545454 #00000000;
}